* {
  box-sizing: border-box;
}

body {
	color: #322727;
	font-family: 'Arial';
	line-height: 30px;
	text-align: left;
	width: 1200px;
}

.panel	{
	width: 50%;
	float: right;
	text-align: left;
	margin-top: 10px;
	margin-right: 10px;
}

header	{
	float: left;
	background-color: grey;
	border-bottom: none;
	color: white;
	height: 100%;
	width: 270px;
	margin-left: 125px;
	margin-bottom: 0;
	font-family: 'Georgia';
	text-align: center;
	vertical-align: middle;
	padding-top: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;\
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.editbtn {
    padding: 14px 20px;
    background-color: #e2e4e9;
}

.addbtn {
    padding: 14px 20px;
    background-color: #d9ebdb;
}

.delbtn{
	padding: 14px 20px;
	background-color: #e1d3d2;
}
.editbtn,.addbtn,.delbtn {
	float:left;
	width:33.33%
}

#lable {
	font: normal 12px/1.6em Arial, Helvetica, sans-serif;
    color: black;
}
h2	{
	color: yello;
	border-bottom:	3px;
	font-family: 'Georgia';
	margin-top: 1px;
	padding-bottom: 3px;
}



ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	width: 20%;
	padding: 10px;
}

#gadmin{
	float: left;
	width: 40%;
	padding: 10px;

}

a {
	color: grey;
	text-decoration: none;
	margin-left:10px;
	margin-right: 20px; 
	
}


section	{
	background-color: white;
	float: left;
	color: black;
	border: 2px;
}

input,
textarea {
	width: 100%;
	padding: 10px 20px 10px 10px;
    margin: 8px 0;
    border-color: grey;
    border-style: solid;
    border-width: thin;
}


.header-container {
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;
	height: 60px;
}

.main-container {
	clear: both;
	overflow: auto;
	margin: 0 auto;
	background-image: url("../images/background.png");
	height: 600px;
	width: 100%;
	border-bottom: 5px solid #4aaaa5;
}

.main-container-gallery {
	height: auto;
	padding: 20px;
	clear: both;
	overflow: auto;
	margin: 0 auto;
	background-image: url("../images/background.png");
	width: 100%;
	border-bottom: 5px solid #4aaaa5;	
}
.box {
	display: inline-block;
	width: auto;
	height: auto;
	margin: auto;
}


.project {
	float: left;
	position: relative;
	top:	-10px;
	width: 80%;
	height: 100%;
}

.project-title {
	float: left;
	position: relative;
	top: -50px;
	width: 80%;
	height: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

.container {
    padding: 16px;
}

.button {
	background-color: #4aaaa5;
	color: #ffffff;
	width: 100px;
	height: 40px;
	font-size: 16px;
	border: none;
	position: relative;
	top: -8px;
}

#main-bio,
#contact-form,
#project-portfolio {
	position: relative;
	text-align: left;
	width: 650px;
	top: 30px;
	margin-left: 125px;
	margin-bottom: 50px;
}

#gallery {
	position: relative;
	text-align: left;
	width: 800px;
	top: 30px;
	margin-left: 125px;
	margin-bottom: 50px;
	height: auto;
	padding: 20px;
}

#main-bio {
	height: auto;
	padding: 20px;
}

#bio-image {
	clear: both;
	float: left;
	margin-right: 20px;
	width: 200px;
	height: 200px;
}

#contact-form {
	padding: 20px;
	height: 500px;
}

#project-portfolio {
	padding: 15px;
	height: 1000px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

